{% extends 'base.html' %}

{% block content %}
<h1>Housing</h1>
<h4>VA housing Assistance</h4>
<p>VA housing assistance can help Veterans, service members, and their surviving spouses to buy a home or refinance a loan. We also offer benefits and services to help you build, improve, or keep your current home. Find out how to apply for and manage the Veterans housing assistance benefits you've earned.</p>
<a href="https://www.va.gov/housing-assistance/#how-do-i-get-help-if-im-homele">Housing Assistance</a>

<h4 class="push">VA Homeless Programs</h4>
<p>Veterans who are homeless or at risk of homelessness—and their family members, friends and supporters—can make the call to or chat online with the National Call Center for Homeless Veterans, where trained counselors are ready to talk confidentially 24 hours a day, 7 days a week.</p>
<h5>Why Make the Call to 1-877-4AID VET (877-424-3838)</h5>
<p>
  <ul>It's free and confidential</ul>
  <ul>You'll get access to trained VA counselors</ul>
  <ul>It's available 24 hours a day, 7 days a week</ul>
  <ul>You'll get information about VA homeless programs, health care and other services in your area</ul>
</p>
<a href="https://www.va.gov/homeless/nationalcallcenter.asp">National call Center for Homeless Veterans</a>
{% endblock %}