{% extends 'base.html' %}

{% block content %}
<h1>Schooling</h1>
<h4>VET TEC</h4>
<p>If you want to gain computer experience to start or advance your career in the high-technology industry, find out if you’re eligible for our Veteran Employment Through Technology Education Courses (VET TEC) program that matches you with a leading training provider to help you develop high-tech skills.</p>
<p>VET TEC is just like the GI Bill but for high demand training in Technology.</p>
<p>
  <ul>Computer software</ul>
  <ul>Computer programming</ul>
  <ul>Data processing</ul>
  <ul>Information science</ul>
  <ul>Media applications</ul>
</p>
<h4>How to apply</h4>
<a href="https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/vettec-high-tech-program/apply-for-vettec-form-22-0994/introduction">Apply for VET TEC program</a>

<h4 class="push">GI Bill</h4>
<p>GI Bill benefits help you pay for college, graduate school, and training programs. Since 1944, the GI Bill has helped qualifying Veterans and their family members get money to cover all or some of the costs for school or training. Learn more about GI Bill benefits on this page—and how to apply for them.</p>
<a href="https://www.va.gov/education/about-gi-bill-benefits/">GI Bill</a>
{% endblock %}